{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}
  <section class="text-white-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
      <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
        <h1 class="title-font font-medium text-3xl text-white">
          <p>{% translate "We have sent you an e-mail. Please contact us if you do not receive it within a few minutes." %}</p>
        </h1>
      </div>
    </div>
  </section>
{% endblock %}
