{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load tailwind_filters %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}
  <section class="text-white-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
      <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
        <h1 class="title-font font-medium text-3xl text-white">
          <p>{% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        </h1>
        {% if socialaccount_providers %}
          <div class="socialaccount_ballot leading-relaxed mt-4 text-blue-600">
            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
          </div>
          {% include "socialaccount/snippets/login_extra.html" %}
        {% endif %}
      </div>
      <div class="lg:w-2/6 md:w-1/2 bg-zinc-800 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 max-w-sm">
        <h2 class="text-white text-lg font-medium title-font mb-5">{% translate "Password Reset" %}</h2>
        <form class="password_reset text-gray-600" method="POST" action="{% url 'account_reset_password' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}

          <button
            class="w-full text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
            type="submit">{% translate "Reset My Password" %}</button>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
