{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}

  {% csrf_token %}
  <script>
    let titleid = '{{ title.id|safe }}';
    fetch(`https://www.omdbapi.com/?i=${titleid}&apikey=6aad63ad`)
      .then(response => {
        return response.json();
      })
      .then(data => {
        console.log(data['Poster']);
        document.getElementById("poster").src = data['Poster'] === "N/A" ? "https://cdn-icons-png.flaticon.com/512/103/103085.png" : data['Poster'];
      });
  </script>
  {% if rating %}
    {{ rating.rating }}
  {% endif %}
  <div id="movie_container">
    {{ title.id }}
    {{ title.original_title }}
    {{ title.runtime }}
    {{ title.type }}
    <img id="poster" alt="Poster" src="">
  </div>

  <div id="status"></div>
  <form id="ratingForm">
    <fieldset class="rating">
      <legend>Please rate:</legend>
      <input type="radio" id="star5" name="rating" value="5"/>
      <label for="star5" title="Rocks!">5 stars</label>
      <input type="radio" id="star4" name="rating" value="4"/>
      <label for="star4" title="Pretty good">4stars</label>
      <input type="radio" id="star3" name="rating" value="3"/>
      <label for="star3" title="Meh">3 stars</label>
      <input type="radio" id="star2" name="rating" value="2"/>
      <label for="star2" title="Kinda bad">2 stars</label>
      <input type="radio" id="star1" name="rating" value="1"/>
      <label for="star1" title="Sucks big time">1 star</label>
    </fieldset>
    <div class="clearfix"></div>
    <button class="submit clearfix">Submit</button>
  </form>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
  <script>
    window.addEventListener("load", function () {
      document.getElementById("ratingForm").onsubmit = function (e) {
        e.preventDefault();
        if (document.querySelector("#ratingForm > fieldset > input[type=radio]:checked").length === 0) {
          document.getElementById('status').innerHTML = "nothing checked";
        } else {
          let rating = document.querySelector("input[type=radio]:checked").id
          rating = rating.replace('star', '')
          fetch('/api/titles/user_rating/', {
            method: "POST",
            body: JSON.stringify({'title': titleid, 'rating': parseInt(rating)*2}),
            headers: {
              "Content-type": "application/json;charset=UTF-8",
              "X-CSRFToken": csrftoken
            },
            mode: 'same-origin'
          })
            .then(response => response.json())
            .then(json => console.log(json))
        }
      };
    })
  </script>

  <style>
    .rating {
      float: left;
    }

    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
       follow these rules. Every browser that supports :checked also supports :not(), so
       it doesn’t make the test unnecessarily selective */
    .rating:not(:checked) > input {
      position: absolute;
      top: -9999px;
      clip: rect(0, 0, 0, 0);
    }

    .rating:not(:checked) > label {
      float: right;
      width: 1em;
      padding: 0 .1em;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      font-size: 200%;
      line-height: 1.2;
      color: #ddd;
      text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0, 0, 0, .5);
    }

    .rating:not(:checked) > label:before {
      content: '★ ';
    }

    .rating > input:checked ~ label {
      color: #f70;
      text-shadow: 1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0, 0, 0, .5);
    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
      color: gold;
      text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
    }

    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
      color: #ea0;
      text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
    }

    .rating > label:active {
      position: relative;
      top: 2px;
      left: 2px;
    }

    /* end of Lea's code */

    /*
     * Clearfix from html5 boilerplate
     */

    .clearfix:before,
    .clearfix:after {
      content: " "; /* 1 */
      display: table; /* 2 */
    }

    .clearfix:after {
      clear: both;
    }

    /*
     * For IE 6/7 only
     * Include this rule to trigger hasLayout and contain floats.
     */

    .clearfix {
      *zoom: 1;
    }

    /* my stuff */
    #status, button {
      margin: 20px 0;
    }

  </style>
{% endblock content %}
