{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
  <div class="justify-center flex flex-col">
    <div class="mx-auto">
      {% if process == "connect" %}
        <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

        <p>{% blocktrans with provider.name as provider %}You are about to new third party account {{ provider }}
                                                          .{% endblocktrans %}</p>
      {% else %}
        <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

        <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from
          {{ provider }}.{% endblocktrans %}</p>
      {% endif %}

      <form method="post" class="justify-center flex">
        {% csrf_token %}
        <button
          class="mt-6 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
          type="submit">{% translate "Continue" %}</button>
      </form>
    </div>
  </div>


{% endblock %}
