{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <div id="movie_recommendation"></div>

  {{ movies|json_script:'movies' }}

  {% for values in recommended_movies %}
    <script async>

      fetch(`https://www.omdbapi.com/?i=${'{{ values.title.id|safe }}'}&apikey=6aad63ad`)
        .then(response => {
          return response.json();
        })
        .then(data => {
          document.getElementById('{{ values.title.id|safe }}').src = data['Poster'] === "N/A" ? "https://cdn-icons-png.flaticon.com/512/103/103085.png" : data['Poster'];
        });
    </script>
  {% endfor %}
{% endblock %}
